<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>825775950782-ud5rhp55j56q4djqhsn6pi3mjev3e5ct.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.825775950782-ud5rhp55j56q4djqhsn6pi3mjev3e5ct</string>
	<key>API_KEY</key>
	<string>AIzaSyA6ImVUhcehPxYqWiPxYKpw2wQ89eRFQw4</string>
	<key>GCM_SENDER_ID</key>
	<string>825775950782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yunsu.iMessenger</string>
	<key>PROJECT_ID</key>
	<string>imessenger-71968</string>
	<key>STORAGE_BUCKET</key>
	<string>imessenger-71968.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:825775950782:ios:302190aec9f7cff6cc87ef</string>
</dict>
</plist>